@use "../styles/mixins" as *;

.search {
    &__input {
        width: 100%;
        border: none;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__form {
        display: flex;
        border: 1px solid lightgray;
        padding: 1.5rem 2.5rem;
        border-radius: 15px;
        background-color: #fefefe;
        margin-bottom: 1rem;

        @include tablet {
            padding: 2rem 3rem;
            margin-bottom: 3rem;
        }
    }

    &__btn {
        border: none;
        background-color: #0079ff;
        color: #fefefe;
        border-radius: 5px;
        padding: 0.5rem;
        cursor: pointer;
    }

    &__mag {
        margin-right: 3rem;
    }
}